<!-- Game Options Component -->
<h1>Opciones de Juego</h1>

<!-- Players Quantity -->
<dx-number-box
    label="Jugadores"
    labelMode="floating"
    [showSpinButtons]="true"
    [min]="1"
    [max]="4"
    [value]="playersQty"
    (onValueChanged)="onPlayersQtyChange($event.value)"
    >
</dx-number-box>

<!-- Villain -->
<dx-select-box
    label="Villano"
    labelMode="floating"
    [searchEnabled]="true"
    [items]="villains"
    displayExpr="text"
    valueExpr="card_set_code"
    (onValueChanged)="onEncounterSelected($event.value)"
    >
</dx-select-box>

<hr>

<!-- Villain Details -->
@if(villain != null) {

    <dx-tabs
        [items]="villain.villain_phases"
        [selectedIndex]="villainPhase"
        keyExpr="code"
        (onItemClick)="setInitVillainPhase($event)"
    >
    @for(phase of villain.villain_phases; track phase) {
        <dxi-item>
            <div *dxTemplate>
                <div id="{{phase.code}}"> {{phase.real_name}} {{phase.stage}} </div>
            </div>
        </dxi-item>
    }
    </dx-tabs>

    <div style="display: flex; justify-content: space-between;">
        <div>
            @if(villain.villain_phases != null) {
                <h1> {{villain.currentHP}} / {{ villain.villain_phases[villainPhase].health * playersQty }} HP</h1>
                <img 
                    style="height: 360px;"
                    [src]="'https://es.marvelcdb.com'+villain.villain_phases[villainPhase].imagesrc"
                    alt="{{ villain.villain_phases[villainPhase].name }}" />
            }
        </div>
        <div>
            @if(villain.main_scheme != null && villain.main_scheme.length > 0) {
                @for(scheme of villain.main_scheme; track scheme) {
                    <h2>{{ scheme.baseThreat }} / {{ scheme.maxThreat }} Amenaza</h2>
                    <img 
                        style="height: 360px;"
                        [src]="scheme.imagesrc"
                        alt="{{ scheme.name }}" 
                    />
                    <h3>Aumento de amenaza: {{ scheme.escalationThreat }}</h3>
                }
            }
        </div>
    </div>
}

<!-- Start Game Button -->
<dx-button
    (onClick)="onStartGame()" 
    text="Comenzar Juego">
</dx-button>