<!-- Game Options Component -->
<h2> Configuración de Partida </h2>

<div style="display: flex; justify-content: space-around;">
    <!-- Players Quantity -->
    <dx-number-box 
        style="width: 33%;"
        label="Jugadores"
        labelMode="floating"
        [showSpinButtons]="false"
        [min]="1"
        [max]="4"
        [value]="playersQty"
        (onValueChanged)="onPlayersQtyChange($event.value)"
        >
    </dx-number-box>
    
    <!-- Villain -->
    <dx-select-box
        style="width: 66%;"
        label="Villano"
        labelMode="floating"
        [searchEnabled]="true"
        [items]="villains"
        displayExpr="text"
        valueExpr="card_set_code"
        (onValueChanged)="onEncounterSelected($event.value)"
        >
    </dx-select-box>
</div>
<dx-tag-box
    label="Encuentros modulares"
    labelMode="floating"
    [multiline]="true"
    [searchEnabled]="true"
    [showSelectionControls]="true"
    applyValueMode="useButtons"
    [dataSource]="modularSets"
    valueExpr="card_set_code"
    displayExpr="text"
    >
</dx-tag-box>

<hr>

<!-- Villain Content -->
@if(villain != null) {

    <!-- Phase TAB -->
    <dx-tabs
        [items]="villain.villain_phases"
        [selectedIndex]="villainPhase"
        keyExpr="code"
        [showNavButtons]="true"
        (onItemClick)="setInitVillainPhase($event)"
    >
    @for(phase of villain.villain_phases; track phase) {
        <dxi-item>
            <div *dxTemplate>
                <div id="{{phase.code}}"> {{phase.real_name}} {{phase.stage}} </div>
            </div>
        </dxi-item>
    }
    </dx-tabs>

    <!-- Details -->
    <div style="display: flex; justify-content: space-between; background-color: darkred;">
        <div style="width: 33%">
            @if(villain.villain_phases != null) {
                <img 
                    style="width: 60%; margin: 1rem; display: block;"
                    [src]="'https://es.marvelcdb.com'+villain.villain_phases[villainPhase].imagesrc"
                    alt="{{ villain.villain_phases[villainPhase].name }}" />
                    
                <!-- HP -->
                <h3 style="color: white; text-align: center;"> {{villain.currentHP}} / {{ villain.villain_phases[villainPhase].health * playersQty }} HP</h3>
            }
        </div>
        <div style="width: 33%;">
            @if(villain.main_scheme != null && villain.main_scheme.length > 0) {
                @for(scheme of villain.main_scheme; track scheme) {
                    <img 
                        style="width: 90%; margin: 1rem 0 1rem 0; display: block;"
                        [src]="scheme.imagesrc"
                        alt="{{ scheme.name }}" 
                    />
                    
                    <!-- Threat -->
                    <h4 style="color: white; text-align: center; margin: 0.5rem 0;"> {{ scheme.baseThreat }} / {{ scheme.maxThreat }} Amenaza </h4>
                    <h4 style="color: white; text-align: center; margin: 0.5rem 0;"> Aumento: {{ scheme.escalationThreat }} </h4>
                }
            }
        </div>
    </div>
}

<!-- Start Game Button -->
<dx-button
    style="position:absolute; bottom:0; right: 2%;"
    (onClick)="onStartGame()" 
    text="Comenzar Juego">
</dx-button>